In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import ydata_profiling as yd

c:\Users\Al Hafiz Enterprises\miniconda3\envs\my_data\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df = pd.read_csv('googleplaystore.csv')

In [7]:
#profile = yd.ProfileReport(df)
#profile.to_file(output_file='./folder/02_y_data_file.html')

Summarize dataset:  75%|███████▌  | 15/20 [00:01<00:00,  6.20it/s, Calculate auto correlation]     c:\Users\Al Hafiz Enterprises\miniconda3\envs\my_data\Lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: '4.0.3 and up'')
  warnings.warn(
Summarize dataset: 100%|██████████| 24/24 [00:03<00:00,  7.67it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:17<00:00, 17.50s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.31s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 31.27it/s]

In [8]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [9]:
df.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

In [10]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [12]:
df.sample()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
337,Messenger for SMS,COMMUNICATION,4.3,125257,17M,"10,000,000+",Free,0,Teen,Communication,"June 6, 2018",1.8.9,4.1 and up

In [14]:
df['Installs'].value_counts()

Installs
1,000,000+        1579
10,000,000+       1252
100,000+          1169
10,000+           1054
1,000+             907
5,000,000+         752
100+               719
500,000+           539
50,000+            479
5,000+             477
100,000,000+       409
10+                386
500+               330
50,000,000+        289
50+                205
5+                  82
500,000,000+        72
1+                  67
1,000,000,000+      58
0+                  14
0                    1
Free                 1
Name: count, dtype: int64

In [15]:
df['Installs'].value_counts().sum()

10841

In [16]:
df['Size'].isnull().sum()

0

In [17]:
df['Price'].value_counts()

Price
0         10040
$0.99       148
$2.99       129
$1.99        73
$4.99        72
          ...
$1.75         1
$14.00        1
$4.85         1
$46.99        1
$1.04         1
Name: count, Length: 93, dtype: int64

In [18]:
df['Price'].value_counts().sum()

10841

In [19]:
df['Size'].value_counts()

Size
Varies with device    1695
11M                    198
12M                    196
14M                    194
13M                    191
                      ...
429k                     1
200k                     1
460k                     1
728k                     1
619k                     1
Name: count, Length: 462, dtype: int64

In [25]:
df.groupby('Installs')['Size'].size()

Installs
0                    1
0+                  14
1+                  67
1,000+             907
1,000,000+        1579
1,000,000,000+      58
10+                386
10,000+           1054
10,000,000+       1252
100+               719
100,000+          1169
100,000,000+       409
5+                  82
5,000+             477
5,000,000+         752
50+                205
50,000+            479
50,000,000+        289
500+               330
500,000+           539
500,000,000+        72
Free                 1
Name: Size, dtype: int64

In [26]:
# def convert_size_to_mb(size_str):
#     numeric_value = float(size_str[:-1])  # Extract numeric value
#     unit = size_str[-1]  # Extract unit (k or M)
    
#     if unit == 'k':
#         size_mb = numeric_value / 1024
#     elif unit == 'M':
#         size_mb = numeric_value
#     else:
#         raise ValueError("Invalid unit. Must be 'k' or 'M'.")
    
#     return size_mb

# # Example conversion
# size_google_play = "100k"
# size_in_mb = convert_size_to_mb(size_google_play)
# print(size_in_mb)  # This will print the size in MB

0.09765625

In [38]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [39]:
df.groupby('Size').size()

Size
1,000+                   1
1.0000000                7
1.1000000               32
1.2000000               41
1.3000000               35
                      ...
986000                   1
99000000                39
992000                   1
994000                   1
Varies with device    1695
Length: 462, dtype: int64

In [42]:
import pandas as pd

# Sample data
df_01 = df.groupby('Size').size()
#df_02 = df.groupby('Installs').size()
  

# Create a DataFrame
df = pd.DataFrame(df_01)

# Function to convert size to bytes
def convert_size(size_str):
    if size_str[-1] == 'M':
        return float(size_str[:-1]) * 1024 * 1024  # Convert MB to bytes
    elif size_str[-1] == 'k':
        return float(size_str[:-1]) * 1024  # Convert kB to bytes
    else:
        return None  # or handle other cases if necessary

# Apply the conversion function to the 'Size' column
df['Size_in_Bytes'] = df['Size'].apply(convert_size)

print(df)

KeyError: 'Size'